Unreal/Metahuman/Content/MetaHumans/Common/Face/Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
Unreal/Metahuman/Content/MetaHumans/Danielle/Face/Danielle_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
